@font-face {
    font-family: Source Sans Pro;
    src: url(https://www.luho.de/typo3conf/ext/site_luho/Resources/Public/Fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Source Sans Pro;
    src: url(https://www.luho.de/typo3conf/ext/site_luho/Resources/Public/Fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf);
    font-weight: 800;
    font-style: normal
}

@font-face {
    font-family: Source Sans Pro;
    src: url(https://www.luho.de/typo3conf/ext/site_luho/Resources/Public/Fonts/Source_Sans_Pro/SourceSansPro-Light.ttf);
    font-weight: 200;
    font-style: normal
}

@font-face {
    font-family: Source Sans Pro;
    src: url(https://www.luho.de/typo3conf/ext/site_luho/Resources/Public/Fonts/Source_Sans_Pro/SourceSansPro-LightItalic.ttf);
    font-weight: 200;
    font-style: italic
}

@font-face {
    font-family: Source Sans Pro;
    src: url(https://www.luho.de/typo3conf/ext/site_luho/Resources/Public/Fonts/Source_Sans_Pro/SourceSansPro-BoldItalic.ttf);
    font-weight: 800;
    font-style: italic
}

@font-face {
    font-family: Source Sans Pro;
    src: url(https://www.luho.de/typo3conf/ext/site_luho/Resources/Public/Fonts/Source_Sans_Pro/SourceSansPro-Italic.ttf);
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: Liberation Sans;
    src: url(https://www.luho.de/typo3conf/ext/site_luho/Resources/Public/Fonts/LiberationSans-Regular-webfont.woff);
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Liberation Sans;
    src: url(https://www.luho.de/typo3conf/ext/site_luho/Resources/Public/Fonts/LiberationSans-BoldItalic-webfont.woff);
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: Liberation Sans;
    src: url(https://www.luho.de/typo3conf/ext/site_luho/Resources/Public/Fonts/LiberationSans-Italic-webfont.woff);
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: Liberation Sans;
    src: url(https://www.luho.de/typo3conf/ext/site_luho/Resources/Public/Fonts/LiberationSans-Bold-webfont.woff);
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: HW Veneto;
    src: url(https://www.luho.de/typo3conf/ext/site_luho/Resources/Public/Fonts/VENETO.woff) format("woff");
    font-style: normal;
    font-weight: 400
}

@font-face {
    font-family: Raleway;
    src: url(https://www.luho.de/typo3conf/ext/site_luho/Resources/Public/Fonts/raleway/Raleway-Regular.ttf);
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Raleway;
    src: url(https://www.luho.de/typo3conf/ext/site_luho/Resources/Public/Fonts/raleway/Raleway-Bold.ttf);
    font-weight: 700;
    font-syle: normal
}

@font-face {
    font-family: Give You Glory;
    font-style: normal;
    font-weight: 400;
    font-stretch: 100;
    src: url(https://www.luho.de/typo3conf/ext/site_luho/Resources/Public/Fonts/give-you-glory-v10-latin/give-you-glory-v10-latin-regular.eot);
    src: local("Give You Glory"), local("GiveYouGlory"), url(/typo3conf/ext/site_luho/Resources/Public/Fonts/give-you-glory-v10-latin/give-you-glory-v10-latin-regular.eot?#iefix) format("embedded-opentype"), url(/typo3conf/ext/site_luho/Resources/Public/Fonts/give-you-glory-v10-latin/give-you-glory-v10-latin-regular.woff2) format("woff2"), url(/typo3conf/ext/site_luho/Resources/Public/Fonts/give-you-glory-v10-latin/give-you-glory-v10-latin-regular.woff) format("woff"), url(/typo3conf/ext/site_luho/Resources/Public/Fonts/give-you-glory-v10-latin/give-you-glory-v10-latin-regular.ttf) format("truetype"), url(/typo3conf/ext/site_luho/Resources/Public/Fonts/give-you-glory-v10-latin/give-you-glory-v10-latin-regular.svg#GiveYouGlory) format("svg")
}

* {
    box-sizing: border-box
}

body {
    margin: 0;
    font-family: Source Sans Pro, Helvetica, "sans-serif";
    line-height: 1.3;
    width: 100%
}

h1 {
    font-size: 108px;
    margin: 30px 0;
    text-transform: uppercase
}

h1, h2 {
    font-weight: 400;
    color: #0560ab;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto
}

h2 {
    font-size: 52px;
    margin: 40px 0
}

h3 {
    font-size: 48px;
    color: #cea01a
}

h3, h4 {
    font-weight: 400;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto
}

h4 {
    font-size: 36px
}

h5 {
    font-size: 28px
}

h5, h6 {
    font-weight: 400;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto
}

h6 {
    font-size: 24px
}

li, p, span {
    font-size: 50px;
    line-height: 1.2;
    max-width: 1200px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

li {
    margin: 0 0 12px
}

a {
    text-decoration: none;
    color: #0560ab
}

a,
span {
    font-family: inherit
}

div {
    box-sizing: border-box
}

img {
    vertical-align: bottom;
    width: 100%;
    height: auto
}

ul {
    margin: 0 0 24px;
    padding: 0 20px
}

figure {
    margin: 0
}

@media screen and (min-width:768px) {
    h2 {
        font-size: 36px
    }
}

.luho_main {
    margin-top: 82px;
    min-height: calc(100vh - 152px);
    background-color: #fff
}

.luho_pseudo {
    display: none
}

.luho_pseudo--show {
    display: inline
}

@media screen and (max-width:1023px) {
    .luho_pseudo--mobileMenuWrap:checked+.luho_menu__secondLevelWrap {
        position: absolute;
        display: flex;
        flex-direction: column;
        z-index: 1;
        top: 0;
        width: 100%
    }
}

.luho_header {
    margin: 0 auto;
    border-bottom: 3px solid #0560ab;
    background-color: #fff;
    height: 82px;
    z-index: 200;
    width: 100%
}

.luho_header--yellow {
    border-color: #cea01a
}

.luho_header--red {
    border-color: #d5303f
}

.luho_header--lightBlue {
    border-color: #799bac
}

.luho_header--demo {
    background-color: grey;
    margin-top: 10px
}

.luho_header--fixed {
    position: fixed;
    top: 0
}

.luho_header__container {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    position: relative
}

@media screen and (min-width:768px) {
    .luho_header__container {
        width: 656px;
        margin: auto;
        padding: 0
    }
}

@media screen and (min-width:1024px) {
    .luho_header__container {
        width: 908px;
        margin: auto;
        flex-direction: row
    }
}

@media screen and (min-width:1200px) {
    .luho_header__container {
        width: 1160px;
        margin: auto
    }
}


.luho_contentElement {
    width: 100%;
    margin: 0px 128px;
    padding: 0 0px;
    display: flex;
    flex-direction: column;
}

.luho_contentElement__header {
    padding: 0px 0px;
    color: #0560ab;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.luho_contentElement__header:after {
    width: 200px;
    margin: 15px 0 0 -60px;
    content: "";
    display: block;
    height: 7px;
    background-color: #0560ab;
}

.luho_event {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 20px;
}

.luho_event:first-child {
    margin-top: 0;
}

.luho_event__date {
    height: 180px;
    width: 180px;
    margin-right: 40px;
    background-color: #b6b3bd;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.luho_event__day {
    margin-bottom: 0;
    color: #fff;
}

.luho_event__month {
    text-transform: uppercase;
    margin-top: 0;
}

.luho_event__content {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
}


.luho_grid, .luho_grid__row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.luho_grid__col:last-child {
    margin-bottom: 0;
}

.luho_grid--verticalAlignmentTop .luho_grid__col {
    justify-content: flex-start;
}

.luho_grid__col {
    display: flex;
    flex-direction: column;
    padding: 0px 100px;
    width: 100%;
    max-width: 100%;
    flex: 1 0 100%;
    margin-bottom: 40px;
    justify-content: center;
}

.luho_event__title {
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 20px;
    color: #0560ab;
}

.luho_event__description {
    margin-bottom: 0px;
    margin-top: 5px;
}


.luho_event__info {
    margin-bottom: 0px;
    margin-top: 0px;
}


.luho_event__info:after {
    width: 70%;
    content: "";
    display: block;
    border-bottom: 4px solid #cea01a;
    margin-top: 3px;
}

.luho_event__category {
    align-self: flex-start;
    padding: 0 20px 3px;
    font-size: 40px;
    border-radius: 30px;
    display: inline-block;
    background-color: #cea01a;
    margin: 15px 0;
    color: #fff;
}

.luho_event__location {
    align-self: flex-start;
    font-size: 40px;
    display: inline-block;
    margin: 15px 0; 
    padding-left: 0px; 
    padding-right: 0px;    
}